/* Button Styles
---------------------------------------- */

.button {
	display: inline-block;
	padding: 2px 8px;
	font-size: 13px;
	font-weight: 600;
	font-family: "Open Sans", "Droid Sans", Arial, Helvetica, sans-serif;
	line-height: 1.4;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.button:focus,
.button:hover {
	text-decoration: none;
	outline: none;
}

.caret {
	border-inline-start: 1px solid;
	position: relative;
	inset-inline-end: -6px;
}

.caret i {
	vertical-align: top;
}

/* Posting page styles
----------------------------------------*/
.button-search,
.button-search-end {
	float: inline-start;
	border-radius: 0;
	margin: 0;
	padding: 2px 5px;
}

.button-search-end {
	border-inline-start-width: 0;
	border-start-end-radius: 4px;
	border-end-end-radius: 4px;
}

.search-header .button-search,
.search-header .button-search-end {
	border-top-width: 0;
	border-bottom-width: 0;
	padding: 3px 5px;
}

.search-header .button-search-end {
	border-inline-end-width: 0;
}

.button-icon-only {
	padding-inline: 3px;
}

/* Poster contact icons
----------------------------------------*/
.contact-icons.dropdown-contents {
	min-width: 0;
	padding: 0;
	font-size: 0;
}

.contact-icon {
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	width: 16px;
}

.contact-icons a {
	border-bottom: 1px dotted;
	border-inline-end: 1px dotted;
	display: block;
	float: inline-start;
	padding: 8px;
}

.contact-icons .last-cell {
	border-inline-end: none;
}

.contact-icons div:last-child a {
	border-bottom: none;
}

.contact-icons div {
	clear: inline-start;
}

/* Post control buttons
--------------------------------------------- */
.post-buttons {
	float: inline-end;
	list-style: none;
	margin-top: 2px;
}

.has-profile .post-buttons {
	position: absolute;
	margin: 0;
	inset-inline-end: 0;
	top: 5px;
}

.post-buttons > li {
	float: inline-start;
	margin-inline-end: 3px;
}

.post-buttons .button,
.format-buttons .button {
	padding-inline: 3px;
}

.hastouch .post-buttons {
	margin-inline-end: 10px;
}

.post-buttons .button span {
	font-size: 0;
}

/* Responsive buttons in post body */
.post-buttons .dropdown {
	top: 18px;
}

.post-buttons .dropdown a {
	display: block;
	font-size: 1.2em;
	text-align: end;
}

.hasjs .postbody .post-buttons {
	max-width: 40%;
}

/* Browser-specific tweaks */
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
